
body{
  background-color: rgb(231, 231, 231);
  font-family: 'Lato';
}

nav.navbar{
  background-color: white;
  height: 60px;
  -webkit-box-shadow: 0 4px 6px -4px #222;
  -moz-box-shadow: 0 4px 6px -4px #222;
  box-shadow: 0 4px 6px -4px #222;
}

#egenNavHeader, #userListView{
  padding: 0 40px;
}

#egenNavHeader>i{
  padding-top: 5px;
  color: #ff6600;
  cursor: pointer;
}

#egenNavHeader>a{
  padding-top: 5px;
}

#egenNavHeader img{
  width: 45px;
  height: 45px;
}

.outerContainerDiv button{
  background-color: transparent;
  color: #ff6600;
  border: 2px solid #ff6600;
}

.innerContainerDiv{
  background-color: white;
  padding: 0px;
}

#userTable th{
  color: #ff6600;
  font-size: large;
  border-bottom: 2px solid #ff6600;
  text-align: center;
}

.innerContainerDiv thead>tr{
  height: 50px;
}

.innerContainerDiv tbody>tr{
  height: 60px;
  cursor: pointer;
}

.innerContainerDiv tbody>tr>td{
  font-size: large;
  text-align: center;
  border-bottom: 1px solid #ff6600;
}

figure{
  width:50px;
  height:50px;
  border: 1px solid #ff6600;
  border-radius:50%;
  overflow:hidden;
}

.innerContainerDiv{
  padding:30px;
  font-size: large;
}

.userDetail{
  margin-bottom: 20px;
}

.userDetail>div:first-child, #userForm label{
  font-weight: bold;
  color: #ff6600;
}

#largeProfilePic{
  width: 500px;
  height:480px;
  border: 6px solid #ff6600;
  overflow:hidden;
  margin: 0 auto;
}

.innerContainerDiv button{
  background-color: #ff6600;
  color: white;
}

.help-block {
  color: rgb(222, 67, 67);
  font-weight: 500;
  font-size: small;
}

input.has-error{
  border-color: rgb(222, 67, 67);
  background-color: rgba(238, 69, 69, 0.21);
  box-shadow: 0 0 5px rgb(222, 67, 67);
}

.menu-off{
  left:100vw;
}

/* The side navigation menu */
.menu-on {
  height: 100%; /* 100% Full-height */
  top: 0;
  left: 75vw; /* 0 width - change this fromm 100 when off*/
  width: 25%; /* 0 width - change this from 0 when off*/
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  background-color: rgba(85, 93, 104, 0.95); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#menuHeading{
  padding: 8px 8px 8px 25px;
  font-weight: bold;
  color: #ff6600;
}

/* The navigation menu links */
.menu-on a {
  padding: 10px 10px 10px 25px;
  font-size: 25px;
  color: white;
  display: block;
  border-bottom: 2px solid white;
}

.navHead{
  margin-right: 0px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.slideNavHead {
  margin-right: 25%;
  transition: margin-right .5s;
}